.container
    //- .toolbox
    //-     <div id="theme-btn" class="far fa-moon"></div>
    .header_photo
        .info
            #avadiv
                img(src=data.bio.avatar, id="avatar")
    .header_title
        p.name #{data.bio.name}
        span.cname #{data.bio.cname}
        p.edu #{data.bio.email}
        p.edu #{data.bio.location}
        p.edu #{data.bio.education} 
        p.edu #{data.bio.affiliation}
        .icons
            a(target="_blank" href='https://www.linkedin.com/in/april-yi-wang-76397b80/')
                <i class="fab fa-linkedin"></i>
            a(target="_blank" href='https://scholar.google.com/citations?user=yitS6coAAAAJ&hl=en')
                <i class="fa fa-graduation-cap"></i>
        .header_menu
            ul.nav
                li#nav1
                    a(href='#/home') Home
                //- li#nav3
                //-     a(href='#/publication') Publications
                li#nav2
                    a(href='#/peach') Team
                li#nav3
                    a(href='#/join') Join Us
                li#nav5
                    a(href='#/teaching') Teaching and Theses
                li#nav4
                    a(href='./assets/cv_awang.pdf' target='_blank') CV
                //- li#nav3
                //-     a(href='#publications') Publications