.container
    section.full
        div
            :markdown-it(linkify langPrefix='highlight-')

                ## PEACH Lab

                We are the **P**rogramming, **E**ducation, **a**nd **C**omputer-**H**uman Interaction Lab (PEACH). 
                Our mission is to enable collaborative exploration, understanding, and communication in a data-centric world.
                Our research covers human-computer interaction, educational technology, computer-supported collaborative work, empirical software engineering, and human-AI collaboration.             
                Here are some exciting topics that we are currently working on:
                
                - **AI-Assisted Learning**: Developing AI tools that provide personalized learning experiences and support for learners of all levels.
                - **Teaching Programming at Scale**: Creating scalable methods and technologies for teaching programming to large and diverse groups of students.
                - **Promoting Data Literacy for All**: Designing educational interventions and tools that help individuals develop critical data literacy skills.
                - **Collaboration Technology for Data-Centric Programming**: Building and evaluating technologies that facilitate collaborative programming and data analysis in professional and educational contexts.

        .announcement 📮 To stay in the loop with all the cool stuff we're doing in the lab, sign up for our mailing list to get the newsletters --- <a href='https://lists.inf.ethz.ch/mailman/listinfo/friends.peachlab' target=_blank>friends.peachlab</a>. We'd love to keep you posted!

    section.full.memberlist
        h2 Current Members
        .memberlist-container
            each item in data.members
                if item.status==='current'
                    .member-container
                        img(src=item.avatar)
                        if item.link
                                a(target="_blank" href=item.link)
                                    p.member-name !{item.name}
                        else
                            p.member0name !{item.name}
                        p.member-title !{item.title}
                        p.member-affiliation !{item.affiliation}
                        p.member-location !{item.office}
                        //- .member-reachout
                        //-     if item.email
                        //-         a(href='mailto:'+item.email)
                        //-             <i class="fa fa-envelope"></i>
                        //-     if item.link
                        //-         a(target="_blank" href=item.link)
                        //-             <i class="fa fa-home"></i>
    section.full.memberlist
        h2 Research Assistants 
        ul.alumnilist-container
            each item in data.members
                if item.status==='ra'
                    li.alumni-container
                        p.member-name
                            a(target="_blank" href=item.link) !{item.name}
                        p.member-title !{item.title}
    section.full.memberlist
        h2 Thesis Project Students 
        ul.alumnilist-container
            each item in data.members
                if item.status==='thesis'
                    li.alumni-container
                        p.member-name
                            a(target="_blank" href=item.link) !{item.name}
                        p.member-title !{item.title}
    section.full.memberlist
        h2 External Student Collaborators 
        ul.alumnilist-container
            each item in data.members
                if item.status==='collaborator'
                    li.alumni-container
                        p.member-name
                            a(target="_blank" href=item.link) !{item.name}
                        p.member-title !{item.title}
    section.full.memberlist
        h2 Alumni
        ul.alumnilist-container
            each item in data.members
                if item.status==='left'
                    li.alumni-container
                        p.member-name
                            a(target="_blank" href=item.link) !{item.name}
                        p.member-title !{item.title}
                        p.member-comment !{item.comment}