header.header
    include includes/head.pug
main
    .home
        include includes/home.pug                  
    .cv.hide
        include includes/cv.pug
    //- .publication.hide
    //-     .container
    //-         .pubs
    //-             p.title#publications 
    //-                 span Publications
    //-                 .deco
    //-                     <svg id="__1Dm1det__dd6d3b5d-736e-4112-a978-d559f0ef793b" data-name="70f8052d-3d8c-41fb-92d4-1085a59c667f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.39 3.6"><title>seperator</title><path d="M.35,1.9a3.73,3.73,0,0,0,2.7,1.2c3.5,0,2.3-2.6,5.8-2.6,2.9,0,3.1,2.6,5.8,2.6,3,0,2.6-2.6,5.7-2.6,2.8,0,3.3,2.6,5.8,2.6,3,0,2.8-2.6,5.8-2.6a4.37,4.37,0,0,1,3.1,1.4" style="fill: none;stroke: #d16d6d;stroke-miterlimit: 10;stroke-dashoffset: 2e-05;stroke-dasharray: none;"></path></svg>
    //-                 //- span.all 
    //-                 //-     a(href='#/publication') SEE ALL
    //-             -
    //-                 var category = data.publications[0]
    //-             //- each category in data.publications
    //-             .category
    //-                 //- p.category-title !{category.category}
    //-                 each item in category.item
    //-                     .paper-item.container(id=item.id)
    //-                         .paper-left 
    //-                             .paper-figure
    //-                                 if item.video_teaser
    //-                                     .video !{item.video_teaser}
    //-                                 else
    //-                                     img(src=item.teaser)
    //-                         .paper-right
    //-                             .paper-title !{item.title}
    //-                             .paper-authors !{item.authors}
    //-                             .paper-venue !{item.venue}
    //-                             .paper-abstract !{item.abstract}
    //-                             //- .paper-venue-full !{item.venue_full}
    //-                             .paper-link !{item.links}
    //-             .footnote
    //-                 p * Equal Contribution
    //-                 p <i class='fas fa-award'></i> Honorable Mention Award
    //-                 p <i class='fas fa-trophy'></i> Best Paper Award

    .peach.hide 
        include includes/peach.pug

                    
    .join.hide
        include includes/join.pug

    .footer.container
        h1#small © April Y. Wang 2023